//
.loginTemplate {
  font-family: 'Lato', 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('http://lorempixel.com/1900/1000/nature/');
}



.timestamp{
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 48px;
  color: #fff;
  opacity: .7;
}

.loginTemplate input{
  width:100%;
}

md-card{
  background-color: white;
  width: 200px;
  min-height: 250px;
  z-index:1;
  padding: 0px;
}

md-card.selected {
  width: 500px;
  background-color: white;
}
md-card.selected h2{
  opacity: .3
}

md-card #loginForm{
  display:none;
  padding: 30px;
}

md-card.selected #loginForm{
  display:block;
}

md-card .box {
  background-color: #3F51B5;
  width: 200px;
  height:200px;
}

md-card h2{
  padding: 5px;
  text-align: center;
}