<!-- MAIN -->
<div layout="column"  class="uploaderBody" layout-align="center center" >
    <div class="uploadButtons">
        <div>
            <strong>Upload Location:</strong> {{visiblePath}}
        </div>

        <div>
            Drag files, folders or
        </div>
        <!--
        <div>
            <button class="md-raised md-button md-primary"
                    ng-click="openFileDialog()">Select Files</button>
        </div>
        -->
        <div layout="row">
            <input type="file" multiple
                   class="md-raised md-button md-primary"
                   onChange="angular.element(this).scope().fileSelectionHandler(event)"
                   value="Select Files"
                   style="width:95px"/>

            <input type="file" webkitdirectory="" directory=""
                   class="md-raised md-button md-primary"
                   onChange="angular.element(this).scope().fileSelectionHandler(event)"
                   value="Select Folder"
                   style="width:95px"/>

            <md-button
                   class="md-raised md-button md-primary"
                   ng-click="copyFiles()">Copy Files</md-button>
        </div>

    </div>


    <md-content>
        <md-list>
            <md-subheader class="md-primary">Folders</md-subheader>
            <md-list>
                <md-item ng-repeat="folder in folderList">
                    <md-item-content>
                        <md-card class="folder" layout="row">
                            <div class="icon"></div>
                            <div>
                                <h3>{{folder.name}}</h3>
                            </div>
                            <div flex></div>
                            <div layout-align="center center">
                                <img src="assets/icons/ic_close_24px.svg"
                                     style="width: 24px; height: 24px;"
                                     ng-click="removeFolder(folder)">
                            </div>
                        </md-card>
                    </md-item-content>
                </md-item>
            </md-list>


            <md-subheader class="md-primary">Files</md-subheader>
            <md-list>
                <md-item ng-repeat="file in fileList ">
                    <md-item-content>
                        <md-card class="file" layout="row">
                            <div class="thumbnail">
                                <img src="{{file.path}}"
                                     data-path="{{file.path}}"/>
                            </div>
                            <div>
                                <h3>{{file.name}}</h3>
                            </div>
                            <div flex></div>
                            <div layout-align="center center">
                                <img src="assets/icons/ic_close_24px.svg"
                                     style="width: 24px; height: 24px;"
                                     ng-click="removeFile(file)">
                            </div>
                        </md-card>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-list>
    </md-content>
</div>




