<!-- MAIN -->
<div layout="vertical" layout-align="center center" flex
     class="uploaderBody">
    <div>
        <strong>Upload Location:</strong> {{visiblePath}}
    </div>
    <br/><br/>
    <div>
        Drag files, folders or
    </div>
    <div>
        <button class="md-raised md-button md-primary"
                ng-click="openFileDialog()">Select Files</button>
    </div>
    <div>
        <input type="file" class="md-raised md-button md-primary"
                ng-click="openFileDialog()">Select Files2</button>
    </div>
</div>




