<!-- MAIN -->
<div class="filesBody" flex layout="vertical">

    <md-content>
        <md-subheader class="md-primary">Folders</md-subheader>
        <md-list>
            <md-item  ng-repeat="folder in folderList">
                <md-item-content>
                    <md-card class="folder" layout="horizontal">
                        <div class="icon"></div>
                        <div>
                            <h3>{{folder.name}}</h3>
                        </div>
                    </md-card>
                </md-item-content>
            </md-item>
        </md-list>


        <md-subheader class="md-primary">Files</md-subheader>
        <md-list>
            <md-item  ng-repeat="file in fileList ">
                <md-item-content>
                    <md-card class="file" layout="horizontal">
                        <div class="thumbnail">
                            <img src="http://localhost:9000{{file.path}}?token={{token}}&rendition=thumbnail.200"/>
                        </div>
                        <div>
                            <h3>{{file.name}}</h3>
                        </div>
                    </md-card>
                </md-item-content>
            </md-item>
        </md-list>

    </md-content>
</div>
