.dirTree{
  width: 100%;
  min-height: 150px;
}

.dirTree .treeItem {
  display:flex;
  padding: 0px;

}

.dirTree .treeList {
  margin-right: 20px;
  margin-left: 20px;
}

.dirTree .treeCollapsed {
  background: url("./assets/icons/ic_folder_24px.svg") no-repeat !important;
  padding: 5px 15px!important;
}

.dirTree .treeExpanded {
  background: url("./assets/iconsn/ic_folder_open_24px.svg") no-repeat !important;
  padding: 5px 15px !important;
}

.dirTree .treeLeaf {
  background: url("./assets/icons/ic_folder_24px.svg") no-repeat !important;
  padding: 5px 15px!important;
}

.dirTree .treeLabel
{
  text-transform: capitalize;
  font-size: 18px; font-size: 1.8rem;
}
