

.dirTree{
  width: 100%;
  min-height: 150px;
}

.treeList li
{
  padding: 2px 0 2px 20px;
}


.treeCollapsed{
  background: url("./assets/icons/ic_folder_24px.svg") no-repeat !important;
  padding: 5px 15px!important;
}

.treeExpanded{
  background: url("./assets/iconsn/ic_folder_open_24px.svg") no-repeat !important;
  padding: 5px 15px !important;
}

.treeLeaf{
  background: url("./assets/icons/ic_folder_24px.svg") no-repeat !important;
  padding: 5px 15px!important;
}

.treeLabel
{
  text-transform: capitalize;
  font-size: 18px; font-size: 1.8rem;
}
