<div class="dirTree">
    <style>
        .treeItem {display:flex}
    </style>

    <treecontrol id="treeControl" class="tree-classic"
                 tree-model="directories"
                 options="treeOptions"
                 on-selection="selectNode(node)">
            <span style="display: table-cell; width: 100%">{{node.name}}</span>

            <span ng-click="editFolder($event, node)" style="display: table-cell;">
                <img src="assets/icons/ic_edit_24px.svg" style="width:18px; height: 18px;">
            </span>

            <span ng-click="addFolder($event, node)" style="display: table-cell;">
                <img src="assets/icons/ic_add_circle_24px.svg" style="width:18px; height: 18px;">
            </span>

            <span ng-click="deleteFolder($event, node)" style="display: table-cell;">
                <img src="assets/icons/ic_remove_circle_24px.svg" style="width:18px; height: 18px;">
            </span>

    </treecontrol>
</div>