
.photoBody{
  width: 100%;
}

.photoBody md-subheader2{
  background-color: #eee;
}
/****************
* md-card FOLDERS
*****************/
.photoBody md-card.folder{
  width: 200px;
  min-height: 225px;
  text-align: left;
}

.photoBody md-card.folder .icon{
  background: url("./assets/icons/ic_folder_48px.svg") no-repeat !important;
  margin: 0px 10px !important;
  width: 100px;
  height: 100px;
}


.photoBody md-card.folder h3{
  padding: 0px;
}


/****************
*  md-card Files
*****************/
.photoBody md-card2.file{
  width: 200px;
  min-height: 225px;
  text-align: left;
}

.photoBody md-card2.file .icon{
  background: url("./assets/icons/ic_image_48px.svg") no-repeat !important;
  margin: 0px 10px !important;
  width: 50px;
  height: 48px;
}

.photoBody md-card2.file .thumbnail{
  margin: 0px 10px !important;
}

.photoBody md-card2.file .thumbnail img{
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.photoBody md-card2.file h3{
  padding: 0px;
  text-align: center;
}

