<!-- MAIN -->
<div class="photoBody" flex layout="vertical">

    <md-content>
        <md-list  layout="vertical">
            <md-subheader class="md-primary" ng-show="showHeaders()">Folders</md-subheader>
            <md-list  layout="horizontal">
                <md-item  ng-repeat="folder in folderList">
                    <md-item-content>
                        <md-card class="folder" layout="vertical">
                            <div class="icon"></div>
                            <div>
                                <h3>{{folder.name}}</h3>
                            </div>
                        </md-card>
                    </md-item-content>
                </md-item>
            </md-list>


            <md-subheader class="md-primary" ng-show="showHeaders()">Files</md-subheader>
                <div >
                    <md-card class="file" layout="vertical" ng-repeat="file in fileList" style="width:220px; float:left">
                        <div class="thumbnail">
                            <img src="http://localhost:9000{{file.path}}?token={{token}}" style="width:200px;height:200px;"/>
                        </div>
                        <div>
                            <h3>{{file.name}}</h3>
                        </div>
                    </md-card>

                </div>
        </md-list>
    </md-content>
</div>
